[submodule "cheriot-rtos"]
	path = cheriot-rtos
	url = https://github.com/microsoft/cheriot-rtos
[submodule "network-stack"]
	path = network-stack
	url = https://github.com/CHERIoT-Platform/network-stack.git
[submodule "configuration_broker/sonata/third_party/libhydrogen"]
	path = configuration_broker/sonata/third_party/libhydrogen
	url = git@github.com:ConfiguredThings/libhydrogen.git
